.custom-navbar {
    background-color: #0d6efd; /* Bootstrap primary */
    position: relative;
    top: 0;
    
}

.custom-color{
    color:white;
}
.hvr:hover{
    text-decoration: underline;
}

.custom-footer{
    background: #081236;
}
.custom-row:hover{
    cursor: pointer;
}

.custom-row:nth-child(even){
background-color: #8E8E90;

}
.mcq-option:hover{

    cursor: pointer;
}
a{
    text-decoration: none;
}
/* Wrapper */
.pagination {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap !important;
    gap: 8px;
}

.pagination li {
    display: inline-flex;
}

.pagination .page-link {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}


